$primaryColor: #FFC107 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #000000 !default;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import '../../src/assets/sass/theme/_theme';
