* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {

    font-family: $fontFamily;
    font-size: $fontSize;
    color: $textColor;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    min-height: 100%;

    @if variable-exists(backgroundImage) {
        background-image: url("../images/layout/#{$backgroundImage}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    @else {
        @include background-gradient-left2right($backgroundLeftColor,$backgroundRightColor);
    }

    a {
        text-decoration: none;
        color: $primaryColor;
    }
}

.layout-mask {
    display: none;
    background-color: $maskBgColor;
    position: fixed;
    z-index: 1000001;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.9;
    animation-name: fadeinmask;
    animation-duration: $transitionDuration;
    @include opacity(.8);
    cursor: pointer;
}

.layout-wrapper {
    padding: $bodyPadding;

    .layout-content-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: calc(100vh - 50px);
    }

    .layout-content {
        flex: 1 1 0;
        padding: 2em;
        background: $contentBgColor;
    }
    .layout-menu-tooltip{
        display: none;
    }
    .layout-mask {
        display: none;
    }

    &.layout-fullwidth {
        padding: $normalBodyPadding;

        .layout-topbar,.layout-menu-container {
            padding: 0 15px;
        }
        .layout-footer {
            padding: 35px 50px;
        }

        &.layout-menu-overlay {
            .overlay-menu-button {
                top: 100px;
            }
        }
    }
}

@media screen and (max-width: $responsiveLayoutBreakpoint) {
    body {
        .layout-wrapper{
            padding: $mobileBodyPadding;
        }

        @if variable-exists(backgroundImage) {
            background: none;
        }

        &.blocked-scroll {
            overflow: hidden;
        }

        &:not(.exception-body):not(.login-body):before {
            @if variable-exists(backgroundImage) {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -99999;
                content: '';
                background-image: url("../images/layout/#{$backgroundImage}");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }

        &.layout-fullwidth {
            &.layout-menu-overlay {
                .layout-actionbar {
                    padding-left: 0;
                }
            }
        }
    }

}

