/* Utils */
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

.card {
	border-radius: $borderRadius;
	background: $cardBgColor;
	border: $cardBorder;
    padding: 1.5rem;
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }

    &.card-w-title {
		padding-bottom: 1em;
	}

	&.no-gutter {
		margin-bottom: 0;
	}
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, 20px, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@-webkit-keyframes fadeOutUp {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
}

@keyframes fadeinmask {
	from {
		opacity: 0;
	}
	to {
		opacity: .8;
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	animation-name: fadeOutUp;
}
