$fontFamily:'Sarabun',sans-serif;
$fontSize:14px;
$textColor:#1b1c1e;
$textSecondaryColor:#5f6061;
$borderRadius:3px;
$transitionDuration:.3s;
$dividerColor: #dee2e6;

$bodyPadding:25px 50px;
$normalBodyPadding:25px 0px;
$mobileBodyPadding:5px 15px;
$contentBgColor:#f2f2f2;
$responsiveLayoutBreakpoint:991px;
$maskBgColor:#24262e;

//accent
$accentColor: #1976D2 !default;
$accentTextColor: #ffffff !default;

/* common */
$animationDuration:.4s !default;
$animationTimingFunction:cubic-bezier(.05,.74,.2,.99) !default;

/* horizontal menu */
$horizontalMenuItemActiveBgColor: #ffffff;
$horizontalMenuItemActiveTextColor: #1b1c1e;

/* overlay menu */
$overlayMenuBgColor:#ffffff;
$overlayMenuShadow:0 2px 4px 0 rgba(0, 0, 0, 0.3);
$overlayMenuItemTextColor:#313842;
$overlayMenuItemBorderRadius:3px;
$overlayBorder:0 none !default;
$overlayShadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12) !default;

/* actionbar */
$actionItemBgColor:#f8f9fa;
$actionItemIconColor:#757575;
$actionItemHoverBgColor:#e9ecef;

/* mobile menu */
$mobileMenuBgColor:#24262e;
$mobileMenuItemBgColor: rgba(255, 255, 255, 0.2);
$mobileMenuItemHoverBgColor: rgba(255,255,255, 0.4);
$mobileMenuItemActiveBgColor:#ffffff;
$mobileMenuItemTextColor:rgba(255,255,255,0.72);
$mobileMenuItemActiveTextColor:#1b1c1e;

/* tooltip */
$tooltipBgColor:#313842;
$tooltipColor:#ffffff;

/* user profile menu */
$userProfileMenuInfoBgColor:#f9fafc;
$userProfileMenuInfoNameTextColor:#646a74;
$userProfileMenuInfoRoleTextColor:#313842;
$userProfileMenuLinkIconColor:#9ba8b8;
$userProfileMenuLinkItemTitleColor:#313842;
$userProfileMenuLinkItemSubTitleColor:#457fca;

//actionbar
$actionBarBgColor:#ffffff;
$breadcrumbSeparatorColor:rgba(176, 186, 196, 0.4);
$breadcrumbItemTextColor:#313842;
$breadcrumbLinkTextColor:#b0bac4;
$breadcrumbLinkHoverTextColor:#3ca4e7;

//misc
$cardBgColor:#ffffff;
$cardBorder:solid 1px #dfe6ee;

//sidebar right
$rightSidebarWidth: 16rem !default;
$rightSidebarBg: #ffffff !default;
